/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2018, 7:16:46 PM
    Author     : MauroDH
*/
#cabecera{
    font-size: 42px;
    font-family: Broadway;
    color: #c64550;
    text-align: center;
}

ul li {
    list-style-type: none;
    background: #7cdd4f;
    font-size: 23px;
    display: inline;
    font-family: branding medium;
    padding: 15px;
    border-radius: 10px;
    
}

#menu {
    text-align: center;
}
img{
    border-radius: 40px;
}

#cuerpo {
    text-align: center;
    font-family: branding medium;
    font-size: 18px;
    
    
    
}

#pie {
    text-align: center;
    background: #7cdd4f;
    border-radius: 300px;
      font-family: branding medium;
    font-size: 16px;
}